@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,900;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,800;1,100;1,200;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}
.container{
    background-image: url(./background.jpg);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, 0.1);
    height: 50%;
    font-size: 20px;
    border-radius: 20px;
    padding: 0px;
    width: 73%;
    flex-direction: column;
}
.btn{
    display: flex;
    margin: 30px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    color:  whitesmoke;
    background: #04BFBF;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Jetbrains mono';
    font-weight: bold;
    outline: none;
    margin: 0 20px;
    border-radius: 7px;
}

button:hover{
    background: #05F2DB;
    color: white;
}

h1{
    font-size: 75px;
    color: whitesmoke;
}

a{
    text-decoration: none;
}


@media screen and (max-width: 480px) {
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 60%;
        flex-direction: column;
    }

    h1{
        font-size: 40px;
    }
}