@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,800;1,100;1,200;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jetbrains Mono';
}

nav{
    background: #030C26;
    padding: 10px 5%;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu{
    display: flex;
    list-style: none;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .closeMenu, .icons{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    position: relative;
    margin-top: 10px;
    height: 30px;
    object-fit: cover;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}

@media(max-width:800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .profile{
        position: absolute;
        top: 20%;
        /* left: 40%; */
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }
    .profile .fa-user{
        font-size: 50px;
    }

    nav .openMenu{
        display: block;
    }
}